{
  "presets": [
    ["env", { "targets": {"node": "current"}, "loose": true }]
  ],
  "plugins": [
    "inferno",
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports"
  ]
}
